:root {
  --ifm-color-primary: #297fc2;
  --ifm-color-primary-dark: #2572af;
  --ifm-color-primary-darker: #236ca5;
  --ifm-color-primary-darkest: #1d5988;
  --ifm-color-primary-light: #2f8bd3;
  --ifm-color-primary-lighter: #3991d5;
  --ifm-color-primary-lightest: #56a1db;
  --ifm-color-secondary: #9fe5ff;
  --ifm-color-secondary-dark: #76daff;
  --ifm-color-secondary-darker: #61d4ff;
  --ifm-color-secondary-darkest: #23c3ff;
  --ifm-color-secondary-light: #c8f0ff;
  --ifm-color-secondary-lighter: #ddf6ff;
  --ifm-color-secondary-lightest: #ffffff;
}
